.create-note-modal-wrapper {
  .overlay();
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.4);
  font-size: 1.6rem;

  .create-note-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 50%;
    background-color: @grey;
    border-radius: 5px;

    h2 {
      font-size: 3rem;
    }

    label {
      font-size: 2rem;
      .inputField(@width:100%; @height:40px; @padding:3%);
    }
  }
}