.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  background: @main-color;
  min-width: 320px;
  font-size: 1.6rem;
  
  @media @mobile {
    position: absolute;
    width: 100%;
    padding: 6px;
    height: 47px;
    overflow-y: hidden;
    transition: height .2s ease-in-out;
    z-index: 1;
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;

    @media @mobile {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    .logo {
      cursor: pointer;

      @media @mobile {
        width: 123px;
      }
    }

    h1 {
      margin: 15px 0px 0px 5px;
      font-size: 2rem;

      @media @mobile {
        margin: 0 0 2px;
        font-size: 1.8rem;
      }
    }
  }

  .mobile-nav-btn {
    display: none;

    @media @mobile {
      display: block;
      border: none;
      background: none;
      color: white;
      font-size: 2.5rem;
    }
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5%;
    margin-bottom: 35%;
    font-size: 2.6rem;
    color: white;

    @media @mobile {
      width: 100%;
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
      color: white;
      height: 26px;
      margin: 15% auto;

      &:hover{
        font-weight: bold;
        font-size: 3rem;
      }

      li {
        text-align: center;
      }
    }
  }
  
  .sign-out-button {
    height: 30px;
    border: none;
    background: none;
    font-size: 1.6rem;
    color: white;
    cursor: pointer;

    &:hover{
      font-weight: bold;
      font-size: 2rem;
    }
  }
}

.side-nav.expand {
  position: absolute;
  height: 100%;
}
