.create-note-modal-form {
  padding: 4% 4% 2%;
  font-size: 2rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    width: 100%;
    margin-bottom: 3%;
  }

  .title-input {
    .inputField(@width:100%; @height:40px; @padding:3%);
    
  }

  .note-input {
    margin-bottom: 0;
  }

  .markdown-editor textarea, .markdown-editor .markdown-preview {
    height: 50vh;
  }

  .create-note-btn {
    .button(@width: inherit; @height: inherit);
    margin-top: 2%;
  }
}