.notes-view-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 4%;
  font-size: 1.6rem;
  overflow-y: auto;

  h2 {
    font-size: 3rem;
    text-align: center;
  }

  .notes-view-header {
    width: 87%;
    margin-top: 2%;
  }
  .notes-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 5% auto;
    width: 100%;
  }
}