.note-view-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;

  @media @mobile {
    margin-top: 13%;

    .markdown-editor .markdown-preview {
      height: 52vh;
    }
    .markdown-editor textarea {
      height: 47vh;
    }
  }
  
  .note-view-header {
    margin: 2% 0px;
    font-size: 3rem;
  }
  .note-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    
    @media @mobile {
      width: 87%;
    }
    
    label {
      font-size: 2.2rem;
      line-height: 1.5;
      width: 100%;
    }

    .title-input {
      display: flex;
      flex-direction: column;
      width: 35%;
      margin-bottom: 1%;
      .inputField(@width: 100%; @height: 40px; @padding: 2%;);

      @media @mobile {
        width: 100%;
      }
    }

    .show-results-btn {
      cursor: pointer;
      border: none;
      font-size: 2rem;
      color: @blue;

      @media @mobile {
        padding: 4% 0;
      }

      &:hover {
        color: @hover-blue;
        background-color: @grey;
        border-radius: 3px;
      }
    }

    .question-results-wrapper {
      padding: 0 2%;

      .question-results .result{
        width: 100%;
      }
    }
    
  }
}
