.note-view-wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  margin: 4% 0px 0px 20%;

  .note-view-header {
    text-align: center;
    font-size: 3rem;
  }

  .note-wrapper {
    margin: 2%;
    width: 100%;
    h3 {
      font-size: 2rem;
    }
  }
}