/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  background-color: #efeff3;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}
.logo {
  width: 150px;
}
.App {
  display: flex;
}
.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  background: #bb1333;
  width: 320px;
  font-size: 1.6rem;
  height: 100vh;
}
@media (max-width: 991px) {
  .side-nav {
    padding: 25px 30px;
  }
}
@media (max-width: 767px) {
  .side-nav {
    padding: 20px 30px;
  }
}
.side-nav .logo-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}
.side-nav .logo-wrapper .logo {
  cursor: pointer;
}
.side-nav .logo-wrapper h1 {
  margin: 15px 0px 0px 5px;
  font-size: 2rem;
}
.side-nav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
  margin-bottom: 35%;
  font-size: 2.6rem;
  color: white;
}
.side-nav ul a {
  text-decoration: none;
  color: white;
  height: 26px;
  margin: 15% auto;
}
.side-nav ul a:hover {
  font-weight: bold;
  font-size: 3rem;
}
.side-nav ul a li {
  text-align: center;
}
.side-nav .sign-out-button {
  height: 30px;
  border: none;
  background: none;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
}
.side-nav .sign-out-button:hover {
  font-weight: bold;
  font-size: 2rem;
}
.result {
  margin: 3% 0px;
  padding: 2%;
  width: 50%;
}
.result:hover {
  border-radius: 5px;
  box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.14), 0 0px 4px -4px rgba(0, 0, 0, 0.12), 0 0px 0px 0px rgba(0, 0, 0, 0.2);
  background-color: #D2D2DD;
}
.result .result-url {
  text-decoration: none;
  color: #1a61b0;
}
.result .result-url:hover h2 {
  text-decoration: underline;
  color: #0c3c78;
}
.result .result-url h2 {
  font-size: 2rem;
}
.result .result-url div {
  margin-top: 5px;
  font-size: 1.4rem;
}
.result p {
  margin-top: 1%;
  opacity: 0.96;
}
.login-page-wrapper {
  height: 100vh;
  width: 100%;
}
.login-page-wrapper header {
  font-size: 2.6rem;
  display: flex;
  align-items: center;
  padding: 3% 5%;
}
.login-page-wrapper header h1 {
  margin-left: 1%;
}
.login-page-wrapper .login-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73.5%;
}
.login-page-wrapper .login-text-wrapper .login-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
  font-size: 1.6rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5% 6%;
  border: 1px solid #fff;
  background-color: #fafbfc;
  margin-bottom: 9%;
}
.login-page-wrapper .login-text-wrapper .login-text h1 {
  font-size: 3.6rem;
  margin-bottom: 25%;
}
.login-page-wrapper footer {
  height: 100px;
  background-color: #1e2326;
  text-align: center;
  padding-top: 32px;
}
.login-page-wrapper footer img {
  opacity: 0.15;
}
.table-wrapper {
  width: 90%;
  height: 90%;
  border-collapse: collapse;
}
.table-wrapper th,
.table-wrapper td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid lightgrey;
}
.table-wrapper .table-caption {
  font-size: 3rem;
  margin-bottom: 5%;
}
.table-wrapper .table-col-name {
  font-weight: 600;
  font-size: 2rem;
}
.main-page-wrapper {
  display: flex;
  font-size: 1.7rem;
  margin: 7% 0 0 4%;
  width: 75%;
}
.main-page-wrapper .search-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.search-form input {
  width: 50%;
  height: 45px;
  border-radius: 2px;
  border: 1px solid lightgrey;
  font-size: 1.8rem;
  padding: 1%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.search-form input:hover {
  border-color: #55596d;
}
.user-history-wrapper {
  display: flex;
  width: 70%;
  margin: 4% auto;
  font-size: 1.6rem;
}
.table-data .table-question-data {
  width: 30%;
}
.table-data .table-question-data .table-question-results {
  display: none;
}
.expanded {
  height: 30%;
}
.expanded td {
  vertical-align: top;
  padding-top: 3%;
}
.expanded .table-question-data .table-question-results {
  display: block;
  width: 320px;
  overflow-wrap: break-word;
  margin: auto;
}
.expanded .table-question-data .table-question-results .result {
  width: 100%;
  margin: 0;
}
.note-view-wrapper {
  font-size: 1.6rem;
  margin-top: 3%;
}
.note-view-wrapper h1 {
  text-align: center;
  font-size: 3rem;
}
.note-view-wrapper .note-wrapper {
  display: flex;
  margin: 2%;
}
.note-view-wrapper .note-wrapper h3 {
  font-size: 2rem;
}
.note-view-wrapper .note-wrapper .results {
  width: 50%;
}
.note-view-wrapper .note-wrapper .results h3 {
  margin-left: 3%;
}
.note-view-wrapper .note-wrapper .notes {
  width: 50%;
}
.note-view-wrapper .note-wrapper .notes h3 {
  margin-bottom: 3%;
}
.note-view-wrapper .note-wrapper .notes textarea {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.notes-view-wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 4% auto;
  font-size: 1.6rem;
}
.notes-view-wrapper h2 {
  font-size: 3rem;
  text-align: center;
}
.notes-view-wrapper .notes-wrapper {
  display: flex;
  margin: 5%;
}
.note-card {
  width: 25%;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 2%;
  text-decoration: none;
  color: black;
}
.note-card:hover {
  transform: scale(1.05);
}
.note-card .note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}
.note-card .note .note-card-preview {
  height: 60%;
  padding: 5%;
  white-space: pre-line;
  overflow: hidden;
  opacity: 0.8;
}
.note-card .note .note-card-timestamps {
  display: flex;
  overflow: hidden;
}
