.markdown-editor-menu {
  display: flex;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-radius: 3px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

  &:hover {
    button {
      opacity: .8;
    }
  }

  .markdown-editor-buttons {
    display: flex;
  }

  button {
    cursor: pointer;
    border: 1px solid transparent;
    background-color: inherit;
    opacity: .6;
    width: 35px;
    height: 30px;
    
    &:hover {
      border-color: lightgrey;
    }
  }

  .fa, .fas, .fab, .far {
    font-size: 1.9rem;
  }

  .seperator-wrapper {
    display: flex;
    align-items: center;
  }

  .seperator {
    color: transparent;
    border-left: 1px solid lightgrey;
    margin-left: 5px;
    height: 30px;
  }
}

.fullscreen .markdown-editor-menu {
  border-radius: 0;
  width: 100%;
}