.question-results-wrapper {
    .create-note-wrapper {
        display: flex;
        align-items: center;
        margin-top: 1%;

        .user-history-note-btn {
            .button(@width: inherit);
            margin-left: 10px;

            span {
                margin-left: 5px;
            }
        }
    }
}