.question-results-wrapper {
  .create-note-wrapper {
    display: flex;
    align-items: center;
    margin: 1% 2%;

    @media @mobile {
      margin: 5% auto;
      justify-content: space-between;

      p {
        width: 63%;
      }
    }
    .user-history-note-btn {
      .button(@width: inherit);
      margin-left: 10px;

      @media @mobile {
          width: 100px;
          padding: 0;
      }

      span {
          margin-left: 5px;
      }
    }
  }
}