.main-page-wrapper {
  display: flex;
  font-size: 1.7rem;
  margin: 4% 0px 0px 2%;
  width: 100%;
  overflow-y: auto;

  .search-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
