/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  background-color: #efeff3;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}
.logo {
  width: 150px;
}
.App {
  display: flex;
}
.loading-spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.side-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  background: #bb1333;
  width: 320px;
  font-size: 1.6rem;
  height: 100vh;
}
@media (max-width: 991px) {
  .side-nav {
    padding: 25px 30px;
  }
}
@media (max-width: 767px) {
  .side-nav {
    padding: 20px 30px;
  }
}
.side-nav .logo-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}
.side-nav .logo-wrapper .logo {
  cursor: pointer;
}
.side-nav .logo-wrapper h1 {
  margin: 15px 0px 0px 5px;
  font-size: 2rem;
}
.side-nav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
  margin-bottom: 35%;
  font-size: 2.6rem;
  color: white;
}
.side-nav ul a {
  text-decoration: none;
  color: white;
  height: 26px;
  margin: 15% auto;
}
.side-nav ul a:hover {
  font-weight: bold;
  font-size: 3rem;
}
.side-nav ul a li {
  text-align: center;
}
.side-nav .sign-out-button {
  height: 30px;
  border: none;
  background: none;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
}
.side-nav .sign-out-button:hover {
  font-weight: bold;
  font-size: 2rem;
}
.login-page-wrapper {
  height: 100vh;
  width: 100%;
}
.login-page-wrapper header {
  font-size: 2.6rem;
  display: flex;
  align-items: center;
  padding: 3% 5%;
}
.login-page-wrapper header h1 {
  margin-left: 1%;
}
.login-page-wrapper .login-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73.5%;
}
.login-page-wrapper .login-text-wrapper .login-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
  font-size: 1.6rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5% 6%;
  border: 1px solid #fff;
  background-color: #fafbfc;
  margin-bottom: 9%;
}
.login-page-wrapper .login-text-wrapper .login-text h1 {
  font-size: 3.6rem;
  margin-bottom: 25%;
}
.login-page-wrapper footer {
  height: 100px;
  background-color: #1e2326;
  text-align: center;
  padding-top: 32px;
}
.login-page-wrapper footer img {
  opacity: 0.15;
}
.result {
  margin: 3% 0px;
  padding: 2%;
  width: 50%;
}
.result:hover {
  border-radius: 5px;
  box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.14), 0 0px 4px -4px rgba(0, 0, 0, 0.12), 0 0px 0px 0px rgba(0, 0, 0, 0.2);
  background-color: #D2D2DD;
}
.result .result-url {
  text-decoration: none;
  color: #1a61b0;
}
.result .result-url:hover h2 {
  text-decoration: underline;
  color: #0c3c78;
}
.result .result-url h2 {
  font-size: 2rem;
}
.result .result-url div {
  margin-top: 5px;
  font-size: 1.4rem;
}
.result p {
  margin-top: 1%;
  opacity: 0.96;
}
.main-page-wrapper {
  display: flex;
  font-size: 1.7rem;
  margin: 4% 0px 0px 22%;
  width: 75%;
}
.main-page-wrapper .search-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.search-form input {
  width: 50%;
  height: 45px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  font-size: 1.8rem;
  padding: 1%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.search-form:hover {
  border-color: #55596d;
}
.user-history-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  margin: 4% 0px 0px 26%;
  font-size: 1.6rem;
}
.user-history-wrapper .show-more-btn {
  background: inherit;
  border: 1px solid #1a61b0;
  border-radius: 3px;
  margin: 2% 9% 1% 0px;
  padding: 5px;
  color: #1a61b0;
  cursor: pointer;
}
.user-history-wrapper .show-more-btn:hover {
  background-color: #1a61b0;
  color: white;
}
.user-history-table {
  width: 70%;
  margin: 0 auto 0 12%;
}
.user-history-table .user-history-table-caption {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5%;
  padding-right: 3%;
}
.user-history-table .user-history-table-headers {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  border-bottom: 1px solid lightgrey;
  padding: 0px 26% 2% 9%;
  font-weight: bold;
}
.user-history-table-data {
  padding: 3%;
  display: flex;
}
.user-history-table-data:hover {
  border: 1px solid #3ab5e5;
}
.user-history-table-data:hover .user-history .user-history-note .user-history-del-btn {
  display: flex;
}
.user-history-table-data:nth-child(even) {
  background-color: white;
}
.user-history-table-data .user-history {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 29px;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}
.user-history-table-data .user-history .user-history-question {
  width: 63%;
  text-align: left;
  padding-left: 4%;
}
.user-history-table-data .user-history .user-history-timestamp {
  width: 13%;
}
.user-history-table-data .user-history .user-history-note {
  width: 24%;
  display: flex;
}
.user-history-table-data .user-history .user-history-note .user-history-note-btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 30px;
  height: 28px;
  background-color: #1a61b0;
  color: white;
  padding: 8px 8px 6px;
  margin-left: 20%;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  display: flex;
}
.user-history-table-data .user-history .user-history-note .user-history-note-btn:hover {
  background-color: #2179DC;
}
.user-history-table-data .user-history .user-history-note .user-history-note-btn span {
  display: none;
  white-space: nowrap;
  margin-left: 10px;
}
.user-history-table-data .user-history .user-history-note .user-history-note-btn:hover {
  width: 107px;
}
.user-history-table-data .user-history .user-history-note .user-history-note-btn:hover span {
  display: block;
  margin-left: 5px;
}
.user-history-table-data .user-history .user-history-note .user-history-note-btn a {
  display: flex;
  text-decoration: none;
  color: inherit;
}
.user-history-table-data .user-history .user-history-note .user-history-del-btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 30px;
  height: 28px;
  background-color: red;
  color: white;
  padding: 8px 8px 6px;
  margin-left: 4%;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  display: none;
}
.user-history-table-data .user-history .user-history-note .user-history-del-btn:hover {
  background-color: #F9393D;
}
.user-history-table-data .user-history .user-history-note .user-history-del-btn span {
  display: none;
  white-space: nowrap;
  margin-left: 10px;
}
.user-history-table-data .user-history .user-history-note .user-history-del-btn:hover {
  width: 117px;
}
.user-history-table-data .user-history .user-history-note .user-history-del-btn:hover span {
  display: block;
  margin-left: 5px;
}
.user-history-table-data .user-history .user-history-results {
  width: 100%;
  margin-top: 3%;
}
.user-history-table-data .user-history .user-history-results h2 {
  font-size: 1.9rem;
}
.user-history-table-data .user-history .user-history-results .result {
  width: 100%;
}
.user-history-table-data .expand-btn {
  width: 14px;
  padding-top: 5px;
}
.user-history-table-data .expand-btn .fas {
  cursor: pointer;
}
.user-history-table-data .expand-btn .fas:hover {
  transform: scale(1.5);
}
.expanded .user-history {
  height: 362px;
}
.note-view-wrapper {
  font-size: 1.6rem;
  margin-top: 3%;
}
.note-view-wrapper h1 {
  text-align: center;
  font-size: 3rem;
}
.note-view-wrapper .note-wrapper {
  display: flex;
  margin: 2%;
}
.note-view-wrapper .note-wrapper h3 {
  font-size: 2rem;
}
.note-view-wrapper .note-wrapper .results {
  width: 50%;
}
.note-view-wrapper .note-wrapper .results h3 {
  margin-left: 3%;
}
.note-view-wrapper .note-wrapper .notes {
  width: 50%;
}
.note-view-wrapper .note-wrapper .notes h3 {
  margin-bottom: 3%;
}
.note-view-wrapper .note-wrapper .notes textarea {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.notes-view-wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 4% 0px 0px 22%;
  font-size: 1.6rem;
}
.notes-view-wrapper h2 {
  font-size: 3rem;
  text-align: center;
}
.notes-view-wrapper .notes-wrapper {
  display: flex;
  margin: 5%;
}
.note-card {
  width: 25%;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 2%;
  text-decoration: none;
  color: black;
}
.note-card:hover {
  transform: scale(1.05);
}
.note-card .note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}
.note-card .note .note-card-preview {
  height: 60%;
  padding: 5%;
  white-space: pre-line;
  overflow: hidden;
  opacity: 0.8;
}
.note-card .note .note-card-timestamps {
  display: flex;
  justify-content: space-between;
}
.create-note-modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 1.6rem;
}
.create-note-modal-wrapper .create-note-modal {
  width: 35%;
  height: auto;
  background-color: white;
  border-radius: 3px;
}
.create-note-modal-wrapper .create-note-modal .modal-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 4%;
  border-bottom: 1px solid lightgrey;
}
.create-note-modal-wrapper .create-note-modal .modal-header h2 {
  font-size: 3rem;
}
.create-note-modal-wrapper .create-note-modal .modal-header .close-modal-btn {
  cursor: pointer;
  font-size: 2rem;
  background-color: inherit;
  border: none;
  padding: 0;
}
.create-note-modal-wrapper .create-note-modal .modal-header .close-modal-btn:hover {
  transform: scale(1.5);
}
.create-note-modal-wrapper .create-note-modal .create-note-modal-form {
  padding: 4%;
  font-size: 2rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-note-modal-wrapper .create-note-modal .create-note-modal-form label {
  width: 100%;
  margin-bottom: 3%;
}
.create-note-modal-wrapper .create-note-modal .create-note-modal-form .title-input input {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  font-size: 1.8rem;
  padding: 3%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.create-note-modal-wrapper .create-note-modal .create-note-modal-form .note-input textarea {
  resize: vertical;
  width: 100%;
}
.create-note-modal-wrapper .create-note-modal .create-note-modal-form .create-note-btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: inherit;
  height: inherit;
  background-color: #1a61b0;
  color: white;
  padding: 8px 8px 6px;
}
.create-note-modal-wrapper .create-note-modal .create-note-modal-form .create-note-btn:hover {
  background-color: #2179DC;
}
