/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  background-color: #efeff3;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}
.logo {
  width: 150px;
}
.App {
  display: flex;
  height: 100vh;
}
@media (max-width: 991px) {
  .App {
    flex-direction: column;
  }
}
a {
  text-decoration: none;
  color: #1a61b0;
}
a:hover {
  text-decoration: underline;
}
.loading-spinner {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  background: #bb1333;
  min-width: 320px;
  font-size: 1.6rem;
}
@media (max-width: 767px) {
  .side-nav {
    padding: 6px;
    height: 8%;
    overflow-y: hidden;
    transition: height 0.2s ease-in-out;
  }
}
.side-nav .logo-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}
@media (max-width: 767px) {
  .side-nav .logo-wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
.side-nav .logo-wrapper .logo {
  cursor: pointer;
}
@media (max-width: 767px) {
  .side-nav .logo-wrapper .logo {
    width: 40%;
  }
}
.side-nav .logo-wrapper h1 {
  margin: 15px 0px 0px 5px;
  font-size: 2rem;
}
@media (max-width: 767px) {
  .side-nav .logo-wrapper h1 {
    margin: 0 0 2px;
  }
}
.side-nav .mobile-nav-btn {
  display: none;
}
@media (max-width: 767px) {
  .side-nav .mobile-nav-btn {
    display: block;
    border: none;
    background: none;
    color: white;
    font-size: 1.8rem;
  }
}
.side-nav .menu-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
  margin-bottom: 35%;
  font-size: 2.6rem;
  color: white;
}
@media (max-width: 767px) {
  .side-nav .menu-list {
    width: 100%;
    margin-bottom: 0;
  }
}
.side-nav .menu-list a {
  text-decoration: none;
  color: white;
  height: 26px;
  margin: 15% auto;
}
.side-nav .menu-list a:hover {
  font-weight: bold;
  font-size: 3rem;
}
.side-nav .menu-list a li {
  text-align: center;
}
.side-nav .sign-out-button {
  height: 30px;
  border: none;
  background: none;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
}
.side-nav .sign-out-button:hover {
  font-weight: bold;
  font-size: 2rem;
}
.side-nav.expand {
  position: absolute;
  height: 100%;
}
.login-page-wrapper {
  height: 100vh;
  width: 100%;
}
.login-page-wrapper header {
  font-size: 2.6rem;
  display: flex;
  align-items: center;
  padding: 3% 5%;
}
.login-page-wrapper header h1 {
  margin-left: 1%;
}
.login-page-wrapper .login-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73.5%;
}
.login-page-wrapper .login-text-wrapper .login-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
  font-size: 1.6rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5% 6%;
  border: 1px solid #fff;
  background-color: #fafbfc;
  margin-bottom: 9%;
}
.login-page-wrapper .login-text-wrapper .login-text h1 {
  font-size: 3.6rem;
  margin-bottom: 25%;
}
.login-page-wrapper footer {
  height: 100px;
  background-color: #1e2326;
  text-align: center;
  padding-top: 32px;
}
.login-page-wrapper footer img {
  opacity: 0.15;
}
.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.modal-wrapper .modal {
  width: 50%;
  background-color: white;
  border-radius: 3px;
}
.modal-wrapper .modal .modal-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 4%;
  border-bottom: 1px solid lightgrey;
}
.modal-wrapper .modal .modal-header h2 {
  font-size: 3rem;
}
.modal-wrapper .modal .modal-header .close-modal-btn {
  cursor: pointer;
  font-size: 2rem;
  background-color: inherit;
  border: none;
  padding: 0;
}
.modal-wrapper .modal .modal-header .close-modal-btn:hover {
  transform: scale(1.5);
}
.result {
  margin: 3% 0px;
  padding: 2%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.result:hover {
  border-radius: 5px;
  box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.14), 0 0px 4px -4px rgba(0, 0, 0, 0.12), 0 0px 0px 0px rgba(0, 0, 0, 0.2);
  background-color: #D2D2DD;
  text-decoration: none;
}
.result h2 {
  font-size: 2rem;
}
.result div {
  margin-top: 5px;
  font-size: 1.4rem;
}
.result h2:hover,
.result div:hover {
  text-decoration: underline;
}
.result p {
  color: black;
  margin-top: 1%;
  opacity: 0.96;
}
.question-results-wrapper .create-note-wrapper {
  display: flex;
  align-items: center;
  margin-top: 1%;
}
.question-results-wrapper .create-note-wrapper .user-history-note-btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: inherit;
  height: 28px;
  background-color: #1a61b0;
  color: white;
  padding: 8px 8px 6px;
  margin-left: 10px;
}
.question-results-wrapper .create-note-wrapper .user-history-note-btn:hover {
  background-color: #2179DC;
}
.question-results-wrapper .create-note-wrapper .user-history-note-btn span {
  margin-left: 5px;
}
.main-page-wrapper {
  display: flex;
  font-size: 1.7rem;
  margin: 4% 0px 0px 4%;
  width: 100%;
  overflow-y: auto;
}
.main-page-wrapper .search-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.search-form input {
  width: 50%;
  height: 45px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  font-size: 1.8rem;
  padding: 1%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.search-form:hover {
  border-color: #55596d;
}
.user-history-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.6rem;
  overflow-y: auto;
}
.user-history-wrapper .show-more-btn {
  background: inherit;
  border: 1px solid #1a61b0;
  border-radius: 3px;
  padding: 5px;
  color: #1a61b0;
  width: 80px;
  cursor: pointer;
  margin: 2% auto 2% 45%;
}
.user-history-wrapper .show-more-btn:hover {
  background-color: #1a61b0;
  color: white;
}
.user-history-table {
  width: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 6% 0;
}
.user-history-table .user-history-table-caption {
  font-size: 3rem;
  margin: 4%;
}
.user-history-table .user-history-table-headers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 38.2% 2% 5%;
  border-bottom: 1px solid lightgrey;
  font-size: 2rem;
  font-weight: bold;
}
.user-history-table .user-history-table-data-wrapper {
  width: 100%;
}
.user-history-table-data {
  padding: 2%;
  display: flex;
  border: 1px solid transparent;
  cursor: pointer;
}
.user-history-table-data:hover {
  border: 1px solid #3ab5e5;
}
.user-history-table-data:hover .user-history .user-history-note .user-history-del-btn {
  opacity: 1;
}
.user-history-table-data:nth-child(even) {
  background-color: white;
}
.user-history-table-data .user-history {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 28px;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}
.user-history-table-data .user-history .user-history-question {
  width: 52%;
  text-align: left;
  padding-left: 2%;
}
.user-history-table-data .user-history .user-history-timestamp {
  width: 13%;
}
.user-history-table-data .user-history .user-history-note {
  width: 35%;
  display: flex;
  justify-content: flex-end;
}
.user-history-table-data .user-history .user-history-note .user-history-note-btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 107px;
  height: 28px;
  background-color: #1a61b0;
  color: white;
  padding: 8px 8px 6px;
  display: flex;
}
.user-history-table-data .user-history .user-history-note .user-history-note-btn:hover {
  background-color: #2179DC;
}
.user-history-table-data .user-history .user-history-note .user-history-note-btn span {
  margin-left: 5px;
}
.user-history-table-data .user-history .user-history-note .user-history-note-btn a {
  display: flex;
  text-decoration: none;
  color: inherit;
}
.user-history-table-data .user-history .user-history-note .user-history-del-btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 72px;
  height: 28px;
  background-color: red;
  color: white;
  padding: 8px 8px 6px;
  display: flex;
  margin-left: 10px;
  opacity: 0;
}
.user-history-table-data .user-history .user-history-note .user-history-del-btn:hover {
  background-color: #F9393D;
}
.user-history-table-data .user-history .user-history-note .user-history-del-btn span {
  margin-left: 5px;
}
.user-history-table-data .user-history .user-history-results {
  width: 100%;
  margin-top: 3%;
}
.user-history-table-data .user-history .user-history-results h2 {
  font-size: 1.9rem;
}
.user-history-table-data .user-history .user-history-results .result {
  width: 100%;
  align-items: center;
}
.user-history-table-data .expand-btn {
  width: 14px;
  padding-top: 5px;
}
.user-history-table-data .expand-btn .fas {
  cursor: pointer;
}
.user-history-table-data .expand-btn .fas:hover {
  transform: scale(1.5);
}
.expanded .user-history {
  height: 362px;
}
.note-view-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
}
.note-view-wrapper .note-view-header {
  margin: 2% 0px;
  font-size: 3rem;
}
.note-view-wrapper .note-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.note-view-wrapper .note-wrapper label {
  font-size: 2.2rem;
  line-height: 1.5;
  width: 100%;
}
.note-view-wrapper .note-wrapper .title-input {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-bottom: 1%;
}
.note-view-wrapper .note-wrapper .title-input input {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  font-size: 1.8rem;
  padding: 2%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.note-view-wrapper .note-wrapper .show-results-btn {
  cursor: pointer;
  border: none;
  font-size: 2rem;
  color: #1a61b0;
}
.note-view-wrapper .note-wrapper .show-results-btn:hover {
  color: #2179DC;
  background-color: #D2D2DD;
  border-radius: 3px;
}
.note-view-wrapper .note-wrapper .question-results-wrapper {
  padding: 0 2%;
}
.note-view-wrapper .note-wrapper .question-results-wrapper .question-results .result {
  width: 100%;
}
.notes-view-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.6rem;
  overflow-y: auto;
}
.notes-view-wrapper h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 4%;
}
.notes-view-wrapper .notes-view-header {
  width: 87%;
  margin-top: 2%;
}
.notes-view-wrapper .notes-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 5% 6% 0;
  width: 88%;
}
.note-card {
  width: 306px;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 26px;
  margin: 13px;
  text-decoration: none;
  color: black;
}
.note-card:hover {
  transform: scale(1.05);
  text-decoration: none;
  color: black;
}
.note-card .note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}
.note-card .note .note-card-preview {
  height: 60%;
  padding: 5%;
  white-space: pre-line;
  overflow: hidden;
  opacity: 0.8;
}
.note-card .note .note-card-timestamps {
  display: flex;
  justify-content: space-between;
}
.create-note-modal-form {
  padding: 4% 4% 2%;
  font-size: 2rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-note-modal-form label {
  width: 100%;
  margin-bottom: 3%;
}
.create-note-modal-form .title-input input {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  font-size: 1.8rem;
  padding: 3%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.create-note-modal-form .note-input {
  margin-bottom: 0;
}
.create-note-modal-form .markdown-editor textarea,
.create-note-modal-form .markdown-editor .markdown-preview {
  height: 50vh;
}
.create-note-modal-form .create-note-btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: inherit;
  height: inherit;
  background-color: #1a61b0;
  color: white;
  padding: 8px 8px 6px;
  margin-top: 2%;
}
.create-note-modal-form .create-note-btn:hover {
  background-color: #2179DC;
}
.markdown-editor.fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  flex-direction: column;
}
.markdown-editor.fullscreen textarea {
  height: 95vh;
  border-radius: 0;
}
.markdown-editor {
  width: 100%;
}
.markdown-editor textarea {
  resize: none;
  max-width: 100%;
  width: 100%;
  height: 70vh;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 1%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.markdown-editor-menu {
  display: flex;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-radius: 3px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.markdown-editor-menu:hover button {
  opacity: 0.8;
}
.markdown-editor-menu .markdown-editor-buttons {
  display: flex;
}
.markdown-editor-menu button {
  cursor: pointer;
  border: 1px solid transparent;
  background-color: inherit;
  opacity: 0.6;
  width: 35px;
  height: 30px;
}
.markdown-editor-menu button:hover {
  border-color: lightgrey;
}
.markdown-editor-menu .fa,
.markdown-editor-menu .fas,
.markdown-editor-menu .fab,
.markdown-editor-menu .far {
  font-size: 1.9rem;
}
.markdown-editor-menu .seperator-wrapper {
  display: flex;
  align-items: center;
}
.markdown-editor-menu .seperator {
  color: transparent;
  border-left: 1px solid lightgrey;
  margin-left: 5px;
  height: 30px;
}
.fullscreen .markdown-editor-menu {
  border-radius: 0;
  width: 100%;
}
.markdown-preview {
  height: 70vh;
  line-height: 1.5;
  font-size: 1.6rem;
  word-wrap: break-word;
  background: white;
  padding: 1% 3%;
  overflow: auto;
  border: 1px solid lightgrey;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.markdown-preview h1,
.markdown-preview h2 {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 0.5%;
}
.markdown-preview h1 {
  font-size: 3rem;
}
.markdown-preview h2 {
  font-size: 2.5rem;
}
.markdown-preview h1,
.markdown-preview h2,
.markdown-preview h3,
.markdown-preview h4,
.markdown-preview h5,
.markdown-preview h6 {
  margin: 24px 0px 16px 0px;
  font-weight: bold;
  line-height: 1.25;
}
.markdown-preview blockquote {
  color: #666;
  margin: 0;
  padding-left: 2%;
  border-left: 0.5rem solid #dfe2e5;
}
.markdown-preview pre {
  border: 1px solid #ccc;
}
.markdown-preview code {
  font-size: 1.5rem;
  background-color: rgba(27, 31, 35, 0.06);
  border-radius: 3px;
  padding: 0.2rem 0.4rem;
}
.markdown-preview table {
  width: 100%;
  overflow: auto;
}
.markdown-preview table th {
  font-weight: bold;
}
.markdown-preview table tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}
.markdown-preview table tr:nth-child(2n) {
  background: #f6f8fa;
}
.markdown-preview table th,
.markdown-preview table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
.markdown-preview ul,
.markdown-preview ol {
  padding-left: 4%;
}
.markdown-preview ol {
  list-style: decimal;
}
.markdown-preview li + li {
  margin-top: 1%;
}
.markdown-preview hr {
  height: 0.25rem;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}
.markdown-preview strong {
  font-weight: bold;
}
.markdown-preview blockquote,
.markdown-preview details,
.markdown-preview dl,
.markdown-preview ol,
.markdown-preview p,
.markdown-preview pre,
.markdown-preview table,
.markdown-preview ul {
  margin-top: 0;
  margin-bottom: 16px;
}
.fullscreen .markdown-preview {
  width: 100%;
  height: 95vh;
  border-radius: 0;
}
.sbs-wrapper {
  display: flex;
  width: 100%;
}
.sbs-wrapper .width-adjust-bar {
  cursor: col-resize;
  position: relative;
  min-width: 8px;
  background-color: darkgray;
}
.sbs-wrapper .width-adjust-bar::before {
  left: 0;
}
.sbs-wrapper .width-adjust-bar::after,
.sbs-wrapper .width-adjust-bar::before {
  content: "";
  border-left: 1px solid #333;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  right: 0;
  display: inline-block;
  height: 20px;
  margin: 0 2px;
}
.markdown-guide-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.markdown-guide-wrapper .guide {
  background-color: white;
  width: 50%;
  height: 90vh;
  padding: 2%;
  border-radius: 3px;
  font-size: 1.5rem;
  overflow: auto;
}
.markdown-guide-wrapper .guide header {
  display: flex;
}
.markdown-guide-wrapper .guide header button {
  cursor: pointer;
  font-size: 2rem;
  background-color: inherit;
  border: none;
  padding: 0;
}
.markdown-guide-wrapper .guide header button:hover {
  transform: scale(1.5);
}
.markdown-guide-wrapper .guide h1 {
  font-size: 3rem;
  margin: 0 auto;
}
.markdown-guide-wrapper .guide h4 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 1.8rem;
}
.markdown-guide-wrapper .guide h4 small {
  font-style: italic;
  font-size: smaller;
}
.markdown-guide-wrapper .guide strong {
  font-weight: bold;
}
.markdown-guide-wrapper .guide em {
  font-style: italic;
}
.markdown-guide-wrapper .guide pre {
  display: block;
  padding: 9.5px;
  line-height: 1.42857143;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: monospace;
}
