.user-history-table {
  width: 56%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 0 15%;

  .user-history-table-caption {
    font-size: 3rem;
    margin: 5%;
  }

  .user-history-table-headers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 36% 2% 7%;
    border-bottom: 1px solid lightgrey;
    font-size: 2rem;
    font-weight: bold;
  }
}

