.user-history-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.6rem;
  overflow-y: auto;
  
  .show-more-btn {
    background: inherit;
    border: 1px solid @blue;
    border-radius: 3px;
    padding: 5px;
    color: @blue;
    width: 80px;
    cursor: pointer;
    margin: 2% auto 2% 40%;

    &:hover {
      background-color: @blue;
      color: white;
    }
  }
}