
.user-history-table-data {
  border-bottom: 1px solid lightgrey;
  padding: 3%;

  .user-history{
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    .user-history-timestamp{
      width: 30%;
    }
    .user-history-question{
      width: 43%;
    }
    .user-history-note{
      width: 27%;
    }
  }
}

.expanded {
  height: 30%;

}

