.user-history-table {
  width: 70%;
  margin: 0 auto 0 12%;

  .user-history-table-caption {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5%;
    padding-right: 3%;
  }
  .user-history-table-headers {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    border-bottom: 1px solid lightgrey;
    padding: 0px 26% 2% 9%;
    font-weight: bold;
  }
}

