
.table-data {
  .table-question-data {
    width: 30%;
    .result {
      display: none;
    }
  }
}

.expanded {
  height: 30%;

  td {
    vertical-align: top;
    padding-top: 3%;
  }

  .table-question-data{
    .result {
      display: block;
      width: 320px;
      overflow-wrap: break-word;
      margin: auto;
    }
  }
}

