table, th, td {
  border: 1px solid lightgrey;
  text-align: center;
}

.table-wrapper {
  width: 90%;
  border-collapse: collapse;

  th,td {
    padding: 10px;
  }

  .table-caption {
    font-size: 2.5rem;
    margin-bottom: 5%;
  }

  .table-col-name {
    font-weight: 600;
  }
}